<mat-toolbar color="primary" class="header-toolbar">
  <div class="header-left">
    <mat-icon class="logo-icon">directions_bus</mat-icon>
    <span class="website-name">MyBusBooking</span>
  </div>

  <span class="spacer"></span>

  <div class="header-right">
    <a mat-button routerLink="/search" *ngIf="!isAdmin">Search Buses</a>
    <a mat-button routerLink="/admin/dashboard" *ngIf="isAdmin"
      >Admin Dashboard</a
    >
    <span class="spacer-small"></span>
    <ng-container *ngIf="isLoggedIn; else loggedOut">
      <span class="user-email">{{ userEmail }}</span>
      <button mat-button color="accent" (click)="logout()">Logout</button>
    </ng-container>
    <ng-template #loggedOut>
      <button mat-button color="accent" routerLink="/">Login</button>
    </ng-template>
  </div>
</mat-toolbar>
