<div class="auth-container">
  <!-- LEFT: Branding -->
  <section class="auth-left">
    <div class="brand-card">
      <div class="brand-row">
        <div class="logo-circle">
          <mat-icon class="bus-icon">directions_bus</mat-icon>
        </div>
        <h1 class="title">MyBusBooking Admin</h1>
      </div>
      <p class="tagline">Book your journey with comfort and ease.</p>
    </div>
  </section>

  <!-- RIGHT: Forms -->
  <section class="auth-right">
    <mat-card class="card">
      <h2>Login</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-form-field appearance="outline" class="full">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="you@example.com"
          />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')"
            >Email is required</mat-error
          >
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')"
            >Enter a valid email</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline" class="full">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')"
            >Password is required</mat-error
          >
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          class="full cta"
          [disabled]="loading || loginForm.invalid"
        >
          <ng-container *ngIf="!loading; else loadingTpl">Login</ng-container>
        </button>
      </form>

      <ng-template #loadingTpl>
        <mat-progress-spinner
          mode="indeterminate"
          diameter="20"
        ></mat-progress-spinner>
      </ng-template>
    </mat-card>
  </section>
</div>
